/*
**
** FONTS
**
*/
@font-face {
    font-family: Digital;
    src: url(DS-DIGI.TTF);
}

/*
**
** RAIZ DO DOCUMENTO
**
*/
:root {
    --div-height: 200px;
    --div-width : 200px;
}

/*
**
** RESET
**
*/
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(18, 18, 20);
    color: rgb(245, 246, 248);
    font-family: Digital;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    outline: none;
}

/*
**
** DIGITAL CLOCK
**
*/
.clock {
    display: flex;
}

.clock div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock div:nth-of-type(odd) {
    font-size: 10rem;
    height: var(--div-height);
    width: var(--div-width);
}

.clock div:nth-of-type(even) {
    font-size: 4rem;
}